<% provide(:title, 'About Me') %>
<div class="container">
  <div id="about_head_text">
    <h1 class="aboutpage_header"> Summary </h1>
    <div> I'm a highly motivated, resourceful, and hard working developer with experience in web development, application development, lower level operating system development, introductory C sockets programming, and mobile development. I'm currently looking for an full time position. </div>
  </div>
  <div id="education_container">
    <h1 class="aboutpage_header"> Education </h1>
    <div>
      <b>University of Illinois at Chicago - Chicago, Illinois</b> <br>
      Bachelor's of Science in Engineering - May 2013 <br>
      Major - Computer Science
    </div>
  </div>
  <div id="skills_container">
    <h1 class="aboutpage_header"> Skills </h1>
    <dl class="dl-horizontal">
      <dt> <h3>Languages:</h3> </dt>
      <dt class="lang-fluency-dt"> Advanced: </dt>
        <dd> Java, C/C++, C# </dd>
      <dt class="lang-fluency-dt"> Intermediate: </dt>
        <dd> JavaScript, SmallTalk, HTML, Objective-C </dd>
      <dt class="lang-fluency-dt"> Beginner: </dt>
        <dd> Ruby, Python, Scala </dd>
      <dt> <h3>APIs/Frameworks:</h3> </dt>
      <dd> Qt, WinForms, Ruby on Rails, ASP.NET MVC, iOS </dd>
      <dt> <h3>Operating Systems:</h3> </dt>
      <dd> Windows, Linux, OSX </dd>
      <dt> <h3>Tools:</h3> </dt>
      <dd> Visual Studio, Eclipse, Bash, Red Gate ANTS, Sublime Text </dd>
      <dt> <h3>Version Control:</h3> </dt>
      <dd> Git, Subversion, Team Foundation Server </dd>
    </dl>
  </div>
  <div>
    <h1 class="aboutpage_header"> Advanced Computer Science Courses Taken </h1>
    <div class="exp_description">
      <h3> CS 450 - Introduction to Networking </h3>
      <h3> CS 480 - Relational Databases </h3>
      <h3> CS 473 - Compilers </h3>
      <h3> CS 474 - Object-Oriented Languages and Enviroments </h3>
      <h3> CS 424 - Visualization and Visual Analytics - <%= link_to("My Project Sub-Website", "/projects/cs424") %> </h3>
      <h3> CS 401 - Algorithms I </h3>
      <h3> CS 385 - Operating Systems </h3>
      <h3> CS 301 - Languages and Automata </h3>
      <h3> CS 340 - Software Design </h3>
      <h3> CS 366 - Computer Architecture II </h3>
      <h3> CS 376 - Computer Science Presentations </h3>
    </div>
  </div>
  <div>
    <h1 class="aboutpage_header"> Experience </h1>
    <!--<div class="exp_description">
      <h3> Roundarch Isobar </h3>
      <div> Technical Intern (Jan 2012 to May 2013)
        <ul>
          <li> Assisting in the development of user interfaces and visualizations for real-time interactive applications. </li>
          <li> Designed and developed a web browser and calendar for SAGENext (scalable adaptive graphics environment) </li>
          <li> Currently working on a SAGENext client to interact with Google Talk framwework (Audio and Video chat)</li>
          <li> Used C++ and Qt framework to develop applications. Currently using C++, Qt, QXmpp, and OpenCV to develop Google Video Chat application for SAGENext.</li>
        </ul>
      </div>
    </div>-->
    <div class="exp_description">
      <h3> RoundarchIsobar </h3>
      <div> Technical (iOS) Intern (June 2013 to Current)
        <ul>
          <li> Developing iOS applications for internal use. </li>
        </ul>
      </div>
    </div>

    <div class="exp_description">
      <h3>Electronic Visualization Laboratory (University of Illinois at Chicago) </h3>
      <div> Research Experience Undergrad (Jan 2012 to May 2013)
        <ul>
          <li> Assisting in the development of user interfaces and visualizations for real-time interactive applications. </li>
          <li> Designed and developed a web browser and calendar for SAGENext (scalable adaptive graphics environment) </li>
          <li> Currently working on a SAGENext client to interact with Google Talk framwework (Audio and Video chat)</li>
          <li> Used C++ and Qt framework to develop applications. Currently using C++, Qt, QXmpp, and OpenCV to develop Google Video Chat application for SAGENext.</li>
        </ul>
      </div>
    </div>
    
    <div class="exp_description">
      <h3>ShopLocal</h3>
      <div> <b> Software Development Intern </b>(June 2012 to September 2012) 
        <ul>
          <li> Performed search engine optimizations on <%=link_to "ShopLocal", "http://www.shoplocal.com", :target=>"_blank" %> website </li>
          <li> Added new functionality to client circular websites using ShopLocal SmartCircular platform in Flex and HTML </li>
          <li> Added JavaScript code analysis tool using SVN's API and <%=link_to "JSHint", "https://github.com/jshint/jshint", :target=>"_blank" %> to internal automated build servers </li>
          <li> Fixed miscellaneous defects on client circular websites in Flex and HTML </li>
        </ul>
      </div>   
    </div>
    
    <div class="exp_description">
      <h3>GE Intelligent Platforms </h3>
      <div> <b> Software Development Intern </b> (May 2011 to August 2011)
        <ul>
          <li> Developed intuitive user controls using .NET technologies that can be fully internationalized for a monitoring application used by power industry personnel to detect, diagnose, and prioritize equipment failures. </li>
          <li> Recognized by team for creating several customer requested product enhancements </li>
          <li> Improved application performance by performing memory and performance tuning, resulting in the discovery and repair of several memory leaks </li>
          <li> Diagnosed and repaired product defects </li>
          <li>Participated in meetings with customer support team regarding application usability and performance</li>
        </ul>
      </div>   
    </div>
    
  </div>

</div>