<% provide(:title, 'About Me') %>
<div class="container">
  <div id="about_head_text">
    <h1 class="aboutpage_header"> Summary </h1>
    <div> I'm a highly motivated, resourceful, and hard working developer with experience in web development, application development, and lower level operating system development. </div>
  </div>
  <div id="education_container">
    <h1 class="aboutpage_header"> Education </h1>
    <div>
      <b>University of Illinois at Chicago - Chicago, Illinois</b> <br>
      Bachelor's of Science in Engineering - Expected May 2013 <br>
      Major - Computer Science
    </div>
  </div>
  <div id="skills_container">
    <h1 class="aboutpage_header"> Skills </h1>
    <dl class="dl-horizontal">
      <dt> <h3>Languages:</h3> </dt>
      <dd> Java, C++, C, C#, Ruby, HTML, Javascript </dd>
      <dt> <h3>APIs/Frameworks:</h3> </dt>
      <dd> Qt, WinForms, Ruby on Rails, ASP.NET MVC </dd>
      <dt> <h3>Operating Systems:</h3> </dt>
      <dd> Windows, Linux, OSX </dd>
      <dt> <h3>Tools:</h3> </dt>
      <dd> Visual Studio, Eclipse, BashRed Gate ANTS </dd>
      <dt> <h3>Version Control:</h3> </dt>
      <dd> Git, Subversion, Team Foundation Server </dd>
    </dl>
  </div>
  <div>
    <h1 class="aboutpage_header"> Experience </h1>
    <div class="exp_description">
      <h3>Electronic Visualization Laboratory (University of Illinois at Chicago) </h3>
      <div> Research Experience Undergrad (Jan 2012 to Current)
        <ul>
          <li> Assisted in the development of user interfaces and visualizations for real-time interactive applications. </li>
        </ul>
      </div>
    </div>
    
    <div class="exp_description">
      <h3>ShopLocal</h3>
      <div> Software Development Intern (June 2012 to September 2012) 
        <ul>
          <li> Performed search engine optimizations on <a href="http://www.shoplocal.com">ShopLocal</a> website </li>
          <li> Added new functionality to client circular websites using ShopLocal SmartCircular platform in Flex and HTML </li>
          <li> Added Javascript code analysis tool using SVN's api and JSHint to internal automated build servers </li>
          <li> Fixed miscellanous defects on client circular websites in Flex and HTML </li>
        </ul>
      </div>   
    </div>
    
    <div class="exp_description">
      <h3>GE Intelligent Platforms </h3>
      <div> Software Development Intern (May 2011 to August 2011)
        <div> Developed intuitive user controls that can be fully internationalized for a monitoring application used by power industry personnel to detect, diagnose, and prioritize equipment failures. </div>
        <div> Key Accomplishments: </div>
        <ul>
          <li> Recognized by team for creating several customer requested product enhancements </li>
          <li> Improved application performance by performing memory and performance tuning, resulting in the discovery and repair of several memory leaks </li>
          <li> Diagnosed and repaired product defects </li>
          <li>Participated in meetings with customer support team regarding application usability and performance</li>
        </ul>
      </div>   
    </div>
    
  </div>

</div>