<% provide(:title, 'Contact') %>
<div class="contact-container">
  <h1> Contact Me: UNDER CONSTRUCTION </h1>
  <div class="contact-header">
    Send me an email
  </div>
  <div class="social-icons">
    <div id="linkedin">
      <h3> Access my linkedIn profile by clicking on the linkedIn icon </h3>
      <!-- Rails icons place holders for now...need to find free icons of github and linkedin -->
      <a href="http://www.linkedin.com"> <%= image_tag("rails.png") %> </a>
    </div>
    <div id="github">
      <h3> Checkout my Github profile by clicking on the Github icon </h3>
      <a href="https://github.com/ssathy2"> <%= image_tag("rails.png") %> </a>      
    </div>
  </div>
</div>