<!DOCTYPE html>
<div class="center hero-unit">
  <h1> Welcome to Sidd's website! </h1>

  <h2> 
    This is the home page for Siddharth Sathyam
  </h2>
  
  <h3>
    Use the links on the top right of this page to navigate around the website
  </h3>
</div>
