<% provide(:title, 'Projects') %>
<div class="projects-container">
  <h1> Projects </h1>
  <div>
    <ul class="unstyled">
      <li><h3><%= link_to "CS 424", projects_cs424_path  %></h3>Visualization and Visual Analytics Fall 2012</li>
      <!--<li><h3><%=link_to "YouTube search infinite scroll",  {:controller => 'sideprojects', :action => 'youtubeinfscroll' }%></h3></li> -->
      <li> <h3> <%= link_to "SAGENext", "https://code.google.com/p/greenberg/" %> </h3> This is the link to the Google Code repository for SAGENext, the second iteration of the SAGE software designed to run on a single machine. Most of the work is credited to Sungwon Nam but I'm proud of my contributions to the project and will continue to contribute to it. </li>
    </ul>
  </div>
</div>