<div class="exp_container">
  <h2 id="conclusions_header"> Some thoughts regarding the data</h2>
  <ul>
    <li> The US and the world is addicted to fossil fuels for energy. As our energy production has gone up, so has our Carbon Dioxide emissions.</li>
    <li> Since 2007-ish, there's been a steep dropoff in US primary energy consumption as well as Carbon Dioxide emissions. This holds true for overall and per capita data.</li>
    <li> Growing countries like China and India have had a staggering increase in energy consumption, production, and Carbon Dioxide emission.</li>
    <li> The world overall, has had a steep increase in renewable electricity generation between 1980 and 2009. </li>
    <li> From looking at the data, it seems like the world is slowly starting to wean off its dependence on fossil fuels for energy and is starting to seriously look into renewable energy.</li>
    <li> Countries like Qatar and Saudi Arabia have very high energy consumption per capita. This isn't really too surprising considering the cost of fossil fuels in that part of the world (ie. water costs more than oil). </li>
  </ul>
</div>