<% provide(:title, 'Projects') %>
<div class="projects-container">
  <h1> Projects </h1>
  <div>
    <ul class="unstyled">
      <li><h3><%= link_to "CS 424", projects_cs424_path  %></h3>Visualization and Visual Analytics Fall 2012</li>
    </ul>
  </div>
</div>