<div>
  <h1> Project 4: When The Wind Blows </h1>
  <h2> Created By: Bhavana, Chihua, Daniel Stack, Sidd Sathyam </h2>
  <h2> Welcome to Project 4! In this project we are interested using our visualization to look at the characterization of an epidemic spread.</h2>
  <h2> More to come here...Check back later!</h2>
  <div class="exp_container">
      <h2 id="projectlinks_header"> Project Links</h2>
      <ul>
        <li>
          <%=link_to "Status", {:controller => 'cs424', :action => 'project4_status' }%>   
        </li>
      </ul>
  </div>
</div>