<div>
  <h1> Project 3 Status </h1>
    <h2> October 26th, 2012 </h2> 
    <div class="status_person_listing">
      <dt>
        <h3> Galen Thomas-Ramos </h3>
        <dd> - Developed an idea for our program's layout using Photoshop. </dd>
        <dd> - Coded the actual menus and filters for the program. </dd>
        <dd> - Worked with Siddharth to come up with filter categories we wanted within our program.</dd>
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Pavle Jovanovic </h3>
        <dd> - </dd>
        <dd> - </dd>
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Siddharth Sathyam </h3>
        <dd> - Started and maintaining project website. </dd>
        <dd> - Created database for application. </dd>
        <dd> - Started database integration with application. </dd>
      </dt>     
    </div>
</div>