<h1> Interesting Findings/Conclusions </h1>
<ul>
	<li>In 1914 US, as expected due to the World War 1, did not see a dip in number of movies, because it was neutral at the start.</li>
	<li>In and after the completion of World War 2 however there is a decrease in pattern until 1950's, and it picks up again.</li>
	<li>The countries in the middle-east namely Iraq,Saudi Arabia and afghanistan donot have many movies built there because of the ban on movie theatres.</li>
	<li>India in comparision to US or UK has more films, but the reason can be thought about that as India has many regional languages and the regional film industries doing well, the better doing films get made again in different languages.
</ul>