<div class="exp_container">
  <h1> Interesting Findings </h1>
  <div class="explanation_content_container">
    <h2> Illinois crash Numbers over the months of a year</h2>
    <%= image_tag("illinois_cnums.png") %>
    <p> We found that in general amongst all of the months of a year for all the states, the number of crashes generally started off high and then dipped until Spring started. When Spring started, it rose until the end of the summer. After that, it went up again during the winter months of the year. </p>
    
    <p> We believe that this is going on because in January, it's still cold and so the crash numbers are high until it dips. When the temperature rises again from Spring to Summer, the number of crashes increases possibly because more people are out driving. Finally the number of crashes dips and rises again in the transition between Summer and winter possibly because the weather gets colder and driving conditions are more hazardous. </p>
  </div>
<div class="explanation_content_container">
  <h2> Roads of Wyoming </h2>
  <%= image_tag("wyoming_roads.png") %>
  <p> We noticed that a vast majority of the crashes for Wyoming occur along the highways. This could be due to the fact that Wyoming is a vast state that doesn't have many small roads but has more highways than small roads and so there's more of a chance of a crash occurring on a highway than the small roads and thus the outlines of major interstates crossing Wyoming are clearly visible. </p>
</div>
<div class="explanation_content_container">
<h2> Crashes with Alcohol in Ohio </h2>
  <%= image_tag("ohio_alcohol.png") %>
  <p> We noticed that there were a lot of crashes involving marijuana in Ohio for some year. This is stark considering that Ohio has a lower population than Florida yet there were more crashes involving Marijuana in Ohio than there were in Florida.</p>
</div>
<div class="explanation_content_container">
<h2> Crashes in California </h2>
  <%= image_tag("california_cities.png") %>
  <p> We noticed that there were a lot of crashes in California. A vast majority of the crashes occurred in the city limits of the major cities of California such as San Francisco, Oakland, San Jose, Los Angeles, San Diego, etc. From this view, it's easy to get an idea of the number of crashes relative to each major city in California </p>
</div>

