<div>
  <h1> Project 3: Objects in the Rear View Mirror </h1>
  <h2> Created By: Galen Thomas-Ramos, Pavle Jovanovic, Sidd Sathyam</h2>
  <h2> Welcome to Project 3! In this project we are interested in looking at causes, patterns, trends, and interesting features in highway deaths in the United States.</h2>
  <h3> More to come here...Check back later!</h3>
    <div class="exp_container">
      <h2 id="projectlinks_header"> Project Links</h2>
      <ul>
        <li>
          <%=link_to "Status", {:controller => 'cs424', :action => 'project3_status' }%>   
        </li>        
      </ul>
  </div>
</div>