<div>
  <h1> Project 2: Monster Mash </h1>
  <h2> Created By: Anna Mukhina, Kush, Sidd Sathyam</h2>
  <h2> Welcome to project 1! In this project we are interested in monsters in horror movies </h2>
  <div class="exp_container">
      <h2 id="projectlinks_header"> Project Links</h2>
      <ul>
        <li>
          <%=link_to "Status", {:controller => 'cs424', :action => 'project2_status' }%>   
        </li>
      </ul>
  </div>
</div>