<div>
  <h1> Project 2 Status </h1>
    <h2> October 5th, 2012 </h2> 
    <div class="status_person_listing">
      <dt>
        <h3> Anna Mukhina </h3>
        <dd> - Participated in group discussion on how to parse/store/access data and how to display/organize our visualizations. </dd>
        <dd> - Found useful Java opensource parsing code. </dd>
        <dd> - Worked with Kush to extract data from IMDB to mySQL and suggested a database schema. </dd>
        <dd> - Created custom button code to be used in the project. </dd>  
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Kush Shah </h3>
        <dd> - Participated in project planning meetings </dd>
        <dd> - Worked on coverting raw IMDB data into a SQL database and worked on database schema. </dd>
        <dd>  </dd>     
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Siddharth Sathyam </h3>
        <dd> - Participated in project planning meetings. </dd>
        <dd> - Created mockups for application and created features list. </dd>
        <dd> - Came up with GUI framework. </dd>
        <dd> - Started website for project. </dd>
      </dt>     
    </div>
      
</div>