<h1> Roles </h1>
<div class="status_person_listing">
      <dt>
        <h3> Anna Mukhina </h3>
        <dd> - GUI design and implementation </dd>
        <dd> - Database creation </dd>
        <dd> - Video creation</dd>
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Kush Shah </h3>
        <dd> - Database design and creation </dd>
        <dd> - Website pages </dd>
        <dd> - Data parsing from IMDB raw data</dd>
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Siddharth Sathyam </h3>
        <dd> - Website creation and pages</dd>
        <dd> - GUI design and implementation </dd>
      </dt>     
    </div>
