<div>
  <h1> Project 3 Status </h1>
    <h2> October 26th, 2012 </h2> 
    <div class="status_person_listing">
      <dt>
        <h3> Galen Thomas-Ramos </h3>
        <dd> - Developed an idea for our program's layout using Photoshop. </dd>
        <dd> - Coded the actual menus and filters for the program. </dd>
        <dd> - Worked with Siddharth to come up with filter categories we wanted within our program.</dd>
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Pavle Jovanovic </h3>
        <dd> - Implemented a heat map that shows the data in a clustered format. </dd>
        <dd> - Heat map can also be broken down to see percentages based on the category you are viewing.</dd>
        <dd> - Starting on plotting the points.</dd>
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Siddharth Sathyam </h3>
        <dd> - Started and maintaining project website. </dd>
        <dd> - Created database for application. </dd>
        <dd> - Started database integration with application. </dd>
      </dt>     
    </div>
    
    <h2> November 2nd, 2012 </h2> 
    <div class="status_person_listing">
      <dt>
        <h3> Galen Thomas-Ramos </h3>
        <dd> - Worked on overall look and feel of application. </dd>
        <dd> - Implemented filters and graph for application. </dd>
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Pavle Jovanovic </h3>
        <dd> - Implemented map that displays points of crashes. </dd>
        <dd> - Created slider UI element and refined heatmap. </dd>
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Siddharth Sathyam </h3>
        <dd> - Created layer between application and database. </dd>
        <dd> - Working with Galen and Pavle to integrate data with UI. </dd>
      </dt>     
    </div>
</div>