<div>
  <h1> Questions and Answers </h1>
    <div>
        <h3> Group 1 </h3>
        <p>Q: When dealing with many crashes, don't you think this waving only the markers and no aggregation confuses the user with too much information?</p>
        <p>A: </p>
        <h3> Group 2 </h3>
        <p>Q: Don't you think that having both the map and the graph in the same visualization could be better for comparison purposes? </p>
        <p>A: </p>
        <h3> Group 4 </h3>
        <p>Q: How can we compare data for different states? </p>
        <p>A: </p>
        <h3> Group 5 </h3>
        <p>Q: How did you make the gradient map (heatmap)?</p>
        <p>A: </p>
        <h3> Group 6 </h3>
        <p>Q: Any specific reason of starting with the graph instead of the map? </p>
        <p>A: </p>
        <h3> Group 7 </h3>
        <p>Q: Why does Illinois show no accidents for 2003? Was it a bug/null value? How did you grab/modify the data, was this related to the problem? </p>
        <p>A: </p>
        <h3> Group 8 </h3>
        <p>Q: Is filtering possible on the map? </p>
        <p>A: </p>
        <h3> Group 9 </h3>
        <p>Q: How can your interface be used to compare data from different states? </p>
        <p>A: </p>
        <h3> Group 10 </h3>
        <p>Q: Did you have missing data for 2003? Your graph had a severe dip to 0 for that year. </p>
        <p>A: </p>
    </div>
  
</div>