<h1> Roles </h1>
<div class="status_person_listing">
      <dt>
        <h3> Galen Thomas Ramos </h3>
        <dd> - GUI design. </dd>
        <dd> - GUI Implementation. </dd>
        <dd> - Designed and implemented filters for the application.</dd>
        <dd> - Line graph look and feel. </dd>
        <dd> - Help credits button. </dd>
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Pavle Jovanovic </h3>
        <dd> - Anything and everything to do with the Map. </dd>
        <dd> - Helped with GUI design. </dd>
        <dd> - Helped with GUI implementation. </dd>
        <dd> - Geography map as well as heatmap design and implementation.</dd>
        <dd> - Video walkthrough of application. </dd>
        <dd> - Application walkthrough website page</dd>

      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Siddharth Sathyam </h3>
        <dd> - Website creation and data, source pages. </dd>
        <dd> - Data scraping and parsing. </dd>
        <dd> - Creation of database to hold all data. </dd>
        <dd> - Created data accessor layer inbetween app and DB.
        <dd> - Helped integrate data with application. </dd>
        <dd> - Conclusions page </dd>
      </dt>     
    </div>