<div>
  <h1> Project 2 Status </h1>
    <h2> October 5th, 2012 </h2> 
    <div class="status_person_listing">
      <dt>
        <h3> Anna Mukhina </h3>
        <dd> - Participated in group discussion on how to parse/store/access data and how to display/organize our visualizations. </dd>
        <dd> - Found useful Java opensource parsing code. </dd>
        <dd> - Worked with Kush to extract data from IMDB to mySQL and suggested a database schema. </dd>
        <dd> - Created custom button code to be used in the project. </dd>  
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Kush Shah </h3>
        <dd> - Participated in project planning meetings. </dd>
        <dd> - Participated in group discussion on how to parse/store/access data and how to display/organize our visualizations. </dd>
        <dd> - Worked to extract data from IMDB to mySQL and suggested a database schema. </dd>
        <dd> - Worked on developing a system on parsing and importing IMDB data to our schema on mySQL referring the found parser.  </dd>	
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Siddharth Sathyam </h3>
        <dd> - Participated in project planning meetings. </dd>
        <dd> - Created mockups for application and created features list. </dd>
        <dd> - Came up with GUI framework. </dd>
        <dd> - Started website for project. </dd>
      </dt>     
    </div>
    <h2> October 12th, 2012 </h2> 
    <div class="status_person_listing">
      <dt>
        <h3> Anna Mukhina </h3>
        <dd> - Working on on-screen keyboard. </dd>
        <dd> - Working on graph GUI element. </dd>
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Kush Shah </h3>
        <dd> - Finalized and finished database. </dd>
        <dd> - Working on data accessor that can be used within code to grab data from database. </dd>
      </dt>     
    </div>
    <div class="status_person_listing">
      <dt>
        <h3> Siddharth Sathyam </h3>
        <dd> - Working on integrating database data into application. </dd>
        <dd> - Created removable listboxes and a pane to show movie data. </dd>
      </dt>     
    </div>
</div>