<div>
  <h1> Project 1: Electric Avenue </h1>
  <h2> Welcome to project 1! In this project we are interested in looking at energy production and consumption data for the entire world </h2>
  <div class="movie_container">
    <h2> Video Walkthrough of Application </h2>
    <div class="youtube_video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UPxFmDEmLPg?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>     
  </div>
  <div class="exp_container">
      <h2 id="projectlinks_header"> Project Links</h2>
      <ul>
        <li>
          <%=link_to "How to use the application", projects_cs424_project1_howto_path%>   
        </li>
        <li>
          <%=link_to "Where the data comes from", projects_cs424_project1_data_path%>   
        </li>
        <li>
          <%=link_to "Link to source and how to run the application", projects_cs424_project1_source_path%>   
        </li>
        <li>
          <%=link_to "Conclusions", projects_cs424_project1_conclusions_path%>
        </li>
      </ul>
  </div>
</div>