@import "bootstrap";

/* Vars, mixins, etc.. */
$lightGray: #999;
$grayMediumLight: #eaeaea;

/* Universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
   margin-bottom: 10px;
  }
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: normal;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float:left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.exp_description {
  
}

.aboutpage_header {
  margin-bottom: 0px;
  padding: 10px 0px;
}

.image_container {
  text-align: center;
}

.contact-header {
  margin: 5px 0 5px 0;
}

.social-icons {
  margin: 5px 0 5px 0;
}

.exp_container{
  h2 {
    text-align: left;
    margin-bottom: 5px !important;
    margin-top: 1.0em; 
  }
  ul li {
    padding: 5px 0 5px 0;
  }
  #conclusions_header {
    padding-bottom:  10px;
  }
  #projectlinks_header {
    padding-bottom: 10px; 
  }
}

.align-right {
  float: right;
  margin: 0 0 25px 25px;
  height: 100%;
  width: 28%;
}

.align-left {
  float: left;
  margin: 0 15px 15px 0;
  height: 100%;
  width: 100%;
}

.movie_container {
  h2 {
    text-align: left;  
  }
}

.language-fluency-dt {
  margin: 5px 0px 5px 0px;
}

.projects-container {
  li {
    margin: 5px 0px 5px 0px;
  }
}