<footer class="footer">
  <small>
    <a href='#'> Website created by Sidd Sathyam </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Email Me", '#' %></li>
      <li><a href="#">Website Source Code</li>
    </ul>
  </nav>
</footer>

