<footer class="footer">
  <small>
    <a> Website created by Sidd Sathyam </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Email Me", contact_path %></li>
      <li><a href="https://www.github.com/ssathy2/siddsathyamwebsite">Website Source Code</li>
    </ul>
  </nav>
</footer>

